{% extends 'base.html' %}
{% block title %}<title>수정</title>{% endblock title %}
{% block content %}
<form method='post' enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="px-25vh mt-12">
        <div class="px-20 container content-center justify-center items-center py-10 bg-gray-100 bg-opacity-75 shadow-xl"><!--전체 상자-->
            {% for field in form %}
                <div class="container flex w-9/12 my-5 ml-20 text-left justify-start content-start"> <!--widget 이랑 label 컨테이너-->
                    <div class="container flex w-48 justify-between"> <!--label-->
                        <label class="container justify-center items-center self-center content-center flex w-32 text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-1" for="inline-full-name" for="{{field.id_for_label}}">{{field.label}}</label>
                    </div>
                    <div class="container justify-between"> <!--widget-->
                        {{field}}
                    </div>
                </div>
            {% endfor %}
            <div class="mb-16"><!-- 네모 칸 -->
                <button type='submit' class="float-right text-sm ml-8 bg-transparent hover:bg-green-400 text-green-700 font-semibold hover:text-white py-2 px-3 border border-green-400 hover:border-transparent rounded">수정</button>
                <button type='reset' class="float-right text-sm ml-8 bg-transparent hover:bg-green-400 text-green-700 font-semibold hover:text-white py-2 px-3 border border-green-400 hover:border-transparent rounded">초기화</button>
            </div><!-- 네모 칸 끝-->
        </div><!--전체 상자 끝-->
    </div>
</form>
{% endblock content %}